body {
    font-family:  Arial, Helvetica, sans-serif;
    background: url('bluesky.jpg') rgb(29, 29, 216)    
}

header { 
    color:white;
    background: url('zoro.jpg') top right no-repeat;
}
.blue {
    color: blue;
}
.mylist{
list-style-image: url(zoro.jpg);
}
